* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



/*-----------------------NAVBAR-----------------------*/
.navbar {
    height: 100vh;
    width: 0%;
    position: fixed;/*stay in place*/
    z-index: 1;/*stay at the top*/
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    padding-top: 10vh;
    transition: 0.5s;
    transform: 0.5s;
    text-align: center;
}

.navbar a {
    /* padding: 8px 8px 8px 32px; */
    padding-top: 7vh;
    text-decoration: none;
    font-size: 200%;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.navbar a:hover {
    color: #74b9ff;
}

.open-btn {
    font-size: 200%;
    padding-left: 2%;
    color: #fff;
    cursor: pointer;
}

.open-btn:hover {
    color: #000;
    transition: all 1s;
}

.navbar .close-btn {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 300%;
    margin-left: 50px;
}

/*--------------------NAVBAR END-------------------------------*/

#top-screen {
    background-image: url("../img/main-image.jpg");
    /* background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../img/main-image.jpg); */
    /* height: 100%; */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top-screen img {
    width: 20%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.abs-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}


.travel-left {
    flex: 50%;
    background-color: #194c6b;
    height: 50vh;
    position: relative;
    
}

.travel-left h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 200%;
}

.travel-right {
    flex: 50%;
    text-align: center;
}

.travel-form {
    text-align: center;
}
.travel-form label {
    flex: 30%;
    padding: 12px 12px 12px 0;
    padding-left: 10%;
}
.travel-form input, select {
    flex: 20%;
    margin-right: 20%;
    border: 1px solid #d7d6cb;
    border-radius: 4px;
    padding: 5px;
}

.go-button {
    margin-left: 60%;
    background-color: #194c6b;
    border: 2px solid #194c6b;
    border-radius: 4px;
    color: #fff;
}

.go-button:hover {
    background-color: #12364d;
}

.special-left {
    flex: 50%;
    background: url("../img/special1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    /* height: 400px; */
    height: 50vh;
}

.special-left h1 {
    text-align: center;
    /* padding-top: 20%; */
    font-size: 200%;
    color: #fff;
}

.special-right {
    flex: 50%;
    /* height: 400px; */
    height: 50vh;
}

.special-right img {
    width: 100%;
    height: 100%;
}

.offer {
    color: #12364d;
    text-transform: uppercase;
}

.inspiration-left, .our-places-left {
    flex: 50%;
    position: relative;
    height: 50vh;
    background-color: #55efc4;
    text-transform: uppercase;
    color: #194c6b;
}

.inspiration-text, .our-places-text {
    color: #fff;
    font-size: 200%;
}

.inspiration-text-p, .our-places-text-p {
    font-size: 70%;
}
.inspiration-right, .our-places-right {
    flex: 50%;
    position: relative;
    height: 50vh;
}

.inspiration-right p, .our-places-right p{
    color: #636e72;
    padding: 0 10% 0 10%;
    text-align: left;
}

/*------section4-------*/
.for-two, .for-meal, .for-conqueror, .for-family {
    flex: 25%;
    position: relative;
    
    /* align-items: center;
    justify-content: center; */
}
.section4 h1 {
    color: #fff;
    font-size: 150%;
    top: 85%;
    background-color: rgba(0, 0, 0, 0.5);
}

.for-two img {
    width: 100%;
}

.for-meal img {
    width: 100%;
}

.for-conqueror img {
    width: 100%;
}

.for-family img {
    width: 100%;
}

/*------section4 END-------*/

/*------section5-------*/
.our-places-left {
    background-color: #fdcb6e;
}

.our-places-left a{
    text-decoration: none;
    color: #194c6b;
}
/*------section5 END-------*/

@media screen and (max-width: 768px) {

   
    .test {
        flex-direction: column;
    }

}
