* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



/*-----------------------NAVBAR-----------------------*/
nav {
    width: 100%;
    height: 10vh;
    background: transparent;
    position: absolute;
    opacity: 1;

}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.line{
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px;
}

.navbar {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
}

.nav-links {/*#microsoft nie ogarnia takich rzeczy #clip-path*/
    position: fixed;
    background: blue;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* display: none; */
    /* clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%); */
    clip-path: ellipse(100px 100px at 110% 0%);
    -webkit-clip-path: ellipse(100px 100px at 110% 0%);
    transition: all 1s ease-out;
    pointer-events: none;
}

.nav-links li {
    opacity: 1;
}


.nav-links li.fade a {
    font-size: 150%;
}

.nav-links li.fade a:hover {
    font-size: 200%;
    transition: all 1s ease-out;
}

.nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
}
.nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
}
.nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
}

.nav-links.open {/*#microsoft nie ogarnia takich rzeczy #clip-path*/
    /* clip-path: circle(1400px at 100% -10%);
    -webkit-clip-path: circle(1400px at 100% -10%); */
    clip-path: ellipse(100px 100px at 10% 20%);
    -webkit-clip-path: ellipse(1200px 1200px at 50% 50%);
    pointer-events: all;
    /* opacity: 0.7; */
}


.nav-links li a{ /*poprawic nie rec*/
    color: #fff;
    text-decoration: none;
    font-size: 16px;

}
/*--------------------NAVBAR END-------------------------------*/

#top-screen {
    background-image: url("../img/main-image.jpg");
    /* background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../img/main-image.jpg); */
    /* height: 100%; */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top-screen img {
    width: 20%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.abs-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}


.travel-left {
    flex: 50%;
    background-color: #194c6b;
    height: 50vh;
    position: relative;
    
}

.travel-left h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 200%;
}

.travel-right {
    flex: 50%;
    text-align: center;
}

.travel-form {
    text-align: center;
}
.travel-form label {
    flex: 30%;
    padding: 12px 12px 12px 0;
    padding-left: 10%;
}
.travel-form input, select {
    flex: 20%;
    margin-right: 20%;
    border: 1px solid #d7d6cb;
    border-radius: 4px;
    padding: 5px;
}

.go-button {
    margin-left: 60%;
    background-color: #194c6b;
    border: 2px solid #194c6b;
    border-radius: 4px;
    color: #fff;
}

.go-button:hover {
    background-color: #12364d;
}

.special-left {
    flex: 50%;
    background: url("../img/special1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    /* height: 400px; */
    height: 50vh;
}

.special-left h1 {
    text-align: center;
    /* padding-top: 20%; */
    font-size: 200%;
    color: #fff;
}

.special-right {
    flex: 50%;
    /* height: 400px; */
    height: 50vh;
}

.special-right img {
    width: 100%;
    height: 100%;
}

.offer {
    color: #12364d;
    text-transform: uppercase;
}

.inspiration-left {
    flex: 50%;
    position: relative;
    height: 50vh;
    background-color: #55efc4;
}

.inspiration-left {
    text-transform: uppercase;
    color: #194c6b;
}

.inspiration-text {
    color: #fff;
    font-size: 200%;
}

.inspiration-text-p {
    font-size: 70%;
}
.inspiration-right {
    flex: 50%;
    position: relative;
    height: 50vh;
}

.inspiration-right p {
    color: #636e72;
    padding: 0 10% 0 10%;
    text-align: left;
}

@media screen and (max-width: 768px) {

   
    .test {
        flex-direction: column;
    }

}
