/* defaults */

body {
    position: relative; /*for scrollspy fixed-top navbar*/
}

h1 {
       font-size: 300%;
       font-family: 'Open Sans' , serif, sans-serif;
    }
    
    h3{
        font-family: 'Raleway' , serif, sans-serif;
    }
    
    h4{
        font-family: 'Raleway' , serif, sans-serif;
    }
    
    h5{
        font-family: 'Raleway' , serif, sans-serif;
    }
    
    p{
        font-family: 'Quicksand' , serif, sans-serif;
    }

/* custom styles */

/*navbar*/
.bg-light {
    background-color: #fff!important;
    padding: 10px;
}

.logo-image {
    height: 100%;
    width: 70%;  
}

#offer ul li{
    list-style-type: none;
    text-align: left;
}

.navbar-brand {
    height: 25%;
    width: 25%;
    padding-left: 30px;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

#top-nav ul li a {
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    min-height: 16px;
}

#top-nav ul li a:hover {
    background-color: #000;
    color: #fff;
    transition: background-color 1s;
} 

#top-nav li a.active {
    background-color: #000;
    color: #fff;
    transition: background-color 1s;
} 

/*navbar end*/

/*carousel with text and buttons*/
.content {
    padding-top: 70px;
}

.card {
    text-align: center;
    width: 100%;
}

#main .card-title {
    padding-top: 30px;
}

#main .card-text {
    padding-top: 30px;
    line-height: 150%;
}

#main{width:100%;}

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url("images/laptop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 400px;
    padding-top: 50px;
}

#other-text ul{
    list-style-type: none;
}

.green-text {
    color: #00b894;
}

#other-text i {
    color: #00b894;
}

.card-text a {
    text-decoration: none;
    color: #00b894;
}
.card-text a:hover {
    text-decoration: none;
    color: #00cec9;
}

/*carousel with text and buttons end*/

/*sections aboutme, portfolio, contact*/
.sections {
    position: relative;
    overflow-x: hidden;
}

#aboutme {
    height: 1540px;
    padding-top: 110px;
    padding-bottom: 100px;
}

#my-image img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid #dfe6e9;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 1);
}

.radius-data {
    width: 150px;
    height: 150px;
    border: 5px solid #dfe6e9;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: 15%;
    transition: border 1s;
    box-shadow: 0px 10px 10px 0px rgba(178, 190, 195,1.0);
}
.radius-data-hover {
    border: 5px solid #00b894;
    transition: border 1s;
}

.radius-data p{
    text-align: center;
    font-size: 19px;
    padding-top: 55px;
}

.qal-info {
    padding: 8% 0;   
}

.qal-info ul{
    list-style-type: none;
}

.technologies h3 {
    text-align: center;
    padding-bottom: 40px;
}

.tech-pad p {
    color: #00b894;
    font-weight: bold;
}

.tech-pad-image-hover {
    background-color: #00b894;
    transition: background-color 1s ease;
}

.technologies-logo {
    width: 100%;
}

.tech-pad {
    margin-left: 16.6%;
    background-color: #fff;
}

.future {
    margin-top: 30px;
}

.future-image {
    padding: 20px 0px;
    width: 50%;
}

.over-future {
    padding-bottom: 4%;
}

#button-hide-future {
    position: absolute;
    left: 50%;
    
}
.fa-chevron-circle-down {
    color: #000;
    transform: rotate(0);
    transition: transform 1s;
}

.fa-chevron-circle-down:hover {
    transform: scale(1.4);
    color: #00b894;
    /* transform: rotate(180deg); */
    transition: transform 1s;
}

#portfolio {
    height: 800px;
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #f2f2f2;
}

#portfolio h4{
    text-align: center;
}

#portfolio .card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#portfolio .card-img-top {
    transition: filter 0.5s;
}

#portfolio .card-img-top:hover {
    filter: brightness(1.4);
    transition: filter 0.5s;
}

#contact {
    height: 780px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #474d5d;
    color: #fff;
}

.btn-outline-success {
    border: 2px solid #00b894;
    color: #00b894;
}

.btn-outline-success:hover {
    border: 2px solid #00b894;
    background-color: #00b894;
}

.h1-center-padding {
    text-align: center;
    padding-bottom: 40px;
}
/*sections aboutme, portfolio, contact end*/

/*footer*/
footer {
    background-color: #474d5d;
    text-align: center;
}

.footer-col-left {
    padding: 0 10% 0 10%;
}
.footer-col-left button{
    float: right;
}

.footer-col-right{
    text-align: center;
    padding: 0 20% 0 20%;
}
.footer-col-right i{
   color: #f2f2f2;
}

.form-control {
    background-color: #f2f2f2;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 0.5; /* Firefox */
}

footer .my-link {
    color: #00b894;
}

footer a {
    color: #fff;
}

footer .footer-opacity-text{
    opacity: 0.3;
}
footer .footer-opacity-text a:hover{
    color: #a29bfe;
}


/*footer end*/

#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.fa-angle-up {
    color: #000;
    transition: color 1s;
}

.fa-angle-up:hover {
    color: #00b894;
    transform: rotate(360deg);
    transition: color 1s, transform 1s;

}

/* mobile */

/*@media screen and (max-width: 860px) {*/
/*@media screen and (max-width: 680px) {*/
@media screen and (max-width: 800px) {
    h1 {
        font-size: 140%;
    }
    
    h3{
        font-size: 115%;
    }
    
    h4{
        font-size: 100%;
    }
    
    h5{
        font-size: 80%;
    }
    
    p{
        font-size: 80%;
    }
    
    #top-nav {
        width: 100%;
    }
    
    #top-nav .navbar-brand {
        width: 70%;
    }
    
    #navbarNavDropdown {
        width: 30%;
    }

    #main button {
        width: 100%;
    }
    .bg-overlay {
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("images/laptop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        height: 450px;
    }
    
    #aboutme {
        height: 100%;
        padding-top:  100px;
    }
    #my-image img{
        width: 50%;
        margin-bottom: 20px;
    }

    .text-right-photo {
        text-align: center;
    }
    
    .radius-data {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .tech-pad {
        margin: 0 auto;
    }

    .over-future {
        padding-bottom: 12%;
    }

    .technologies-logo {
        margin-bottom: 20px;
    }


    #portfolio .card {
        margin-bottom: 20px;
    }
    
    #portfolio {
        height: 100%;
        padding-top: 90px; 
        padding-bottom: 50px;
    }
    
    .h1-center-padding {
        padding-bottom: 0px;
    }

    #contact {
        height: 100%;
        padding-top: 100px;
    }
    
    .footer-col-right {
        margin-top: 20%;
    }
    .footer-col-right i{
        font-size: 85%;
    }
    
    footer {
        height: 20px;
    }
    
    .card-img-overlay {
        margin-top: 20px;
    }
    
}

@media screen and (max-width: 800px) and (min-width: 700px) {

    h1 {
        font-size: 220%;
    }

    h3 {
        font-size: 115%;
    }

    h4 {
        font-size: 140%;
    }

    h5 {
        font-size: 80%;
    }

    p {
        font-size: 90%;
    }

    .h1-center-padding {
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .tech-pad {
        padding-left: 16.5%;
    }

    .footer-col-right {
        margin-top: 0%;
    }

}